{% extends 'base.html' %}
{% block nav %} {% include 'includes/_navbar.html' %} {% endblock %}
{% load staticfiles %}
{% block head_title %}Bugs No More{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'home/css/home.css' %}"/>{% endblock %}
{% block content %}



<br>
<br>
<section class="section">
     <h1>Welcome to bugs no more!</h1>
    <h2>Choose a recipe and try it!</h2>
</section>
<!-- to top button -->
	{% block to-top %}	{% include 'includes/_to_top.html' %} {% endblock %}

		<!-- busy-loader -->
		{% include 'includes/_busy_loader.html' %}
{% endblock %} {% block footer %} {% include 'includes/_footer.html' %} {% endblock %}