{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":6},"end":{"row":6,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"040f8009a1d671871107fb5fb6d7a44b15bf6a84","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":7,"column":5},"action":"insert","lines":["__pycache__/","*.py[cod]","*$py.class","*.c9","env.py","sent_emails/","unicornattractor/settings/local.py","*.~c9"],"id":1}],[{"start":{"row":0,"column":0},"end":{"row":7,"column":5},"action":"remove","lines":["__pycache__/","*.py[cod]","*$py.class","*.c9","env.py","sent_emails/","unicornattractor/settings/local.py","*.~c9"],"id":2},{"start":{"row":0,"column":0},"end":{"row":6,"column":6},"action":"insert","lines":["db.sqlite3","__pycache",".~c9*","env.py","*.png","static/","media/"]}]]},"timestamp":1566284407349}