{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":23,"column":0},"end":{"row":23,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0,"cleansed":true},"hash":"a7f3217c29d4ae7124658098014bda369d7e5699","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1566852939566}