{% extends 'base.html' %} {% load bootstrap_tags %}
{% block title %}Edit a ticket{% endblock %}

{% block heading %} <h1>Edit a ticket</h1> {% endblock %}

{% block content %}

<div class="editbugtxt">
<p> Feel free to edit your ticket below, somethings to consider - will this edit to your existing ticket make it easier for others to understand? is it already resolved, if so, share how you<br> fixed it so if anyone else is experiencing the same issue, they can refer back to this.</p>
</div>
<div class="row">
    <div class="col-sm-12">
        <form method="POST" class="editbg">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %} {% block footer %} {% include 'includes/_footer.html' %} {% endblock %}