{% extends 'base.html' %} {% load bootstrap_tags %}
{% block title %}{{ ticket.title }}{% endblock %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-12">
      <div class="jumbotron">
      <h1>Below is your ticket!</h1>
      <p> please feel free to edit or delete your ticket. if you wish not to delete it, comment on it that it's resolved and it can be marked as "completed" so other users can refer to it if needs be.</p>
      </div>
      <div class="crdheader">
    <div class="card text-dark bg-light">
    <div class="card-header text-center">
    <h3>Users tickets!</h3><span class="badge badge-danger">{{ ticket.status }}</span><span class="card-link"><i class="fas fa-eye"></i>{{ ticket.views }}
   <i class="fas fa-arrow-up"></i>{{ ticket.ticket_upvotes }}</span></p>
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'add_to_cart' ticket.id %}">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="id" value="{{ ticket.id }}">
            <button type="submit" class="btn btn-outline-primary upvote-btn"><a>Upvote ticket</a></button>
        </form>
        {% else %}
        <span>Please login to upvote a bug.</span>
        {% endif %}

        </div></div></span> 
       
    <div class="card-body ">
        <h4 class="card-title">{{ ticket.title|capfirst }}</h4>
        <p class="card-text text-left"{{ ticket.description|capfirst }}</p>
      </div>
    <div class="card-footer" style="color: black;">
      <i class="fas fa-user"></i>{{ ticket.creator|capfirst }} |<i class="far fa-calendar-alt"></i> {{ ticket.created_date }}
      <div class="inline justify-content-center">
        <a href="{% url 'edit_a_ticket' ticket.id %}" class="px-1"><button type="button" class="btn btn-outline-info p5">Edit</button></a>
        <form method="POST" action="{% url 'delete_a_ticket' ticket.id %}" id="delete_a_ticket" class="px-1">{% csrf_token %}<button type="submit" class="btn btn-outline-warning p5">Delete</button></form>
      </div>
     </div>
    </div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-12">
        <div class="comment">
         {% if comments.count == 0 %}
        <br> 
        <h4>There are no comments on this ticket yet!</h4>
        {% else %}
        
        {% for comment in comments %}
        <blockquote class="blockquote text-left">
            <p class="mb-0">{{ comment.comment|capfirst }}</p>
            <footer class="blockquote-footer">{{ comment.ticket|capfirst }}<cite title="Source Title" class="title"> | {{ comment.creator|capfirst }}</cite>
            <datetime> on {{ comment.created_date }}</datetime></footer>
        </blockquote>
        {% endfor %}
        
        {% endif %}
</div>
        <form method="POST" id="bgfrm">
            <fieldset>
                <h1 class="bgcmmnts">Comments:</h1>
                {% csrf_token %} {{ ticket_comment_form|as_bootstrap }}
                {% if user.is_authenticated %}
                <button type="submit" class="btn btn-primary">Submit</button>
                {% else %}
                <p><strong>Please login to comment on tickets.</strong></p>
                <button type="button" class="btn btn-primary disabled">Submit</button>
                {% endif %}
                
            </fieldset>
        </form>
        
       

    </div>
</div>
</div>
{% endblock %} {% block footer %} {% include 'includes/_footer.html' %} {% endblock %}