
<!-- Footer -->
<footer class="page-footer font-small" id="footer">
 <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2" style="color: white;">
    {% if not user.is_authenticated %}
    <li>
      <a href="{% url 'login' %}" class="item" style="color: white;">Login</a>
    </li>
    {% else %}
    <li>
      <a href="{% url 'logout' %}" class="item" style="color: white;">Logout</a>
    </li>
    {% endif %}
  </ul>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/Jonezd" target="_blank" style="color: white;">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>

    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1" href="linkedin.com/in/colm-callan-34246597" target="_blank" style="color: white;">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1" href="linkedin.com/in/colm-callan-34246597" target="_blank" style="color: white;">
        <i class="fab fa-instagram"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1" href="https://github.com/colmcallan" target="_blank" style="color: white;">
        <i class="fab fa-github"> </i>
      </a>
    </li>
  </ul>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <p>Colm Callan</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->