{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block nav %} {% include 'includes/_navbar.html' %} {% endblock %}
{% block title %}Login{% endblock %}

<main class="container form-container">
{% block heading %}<h1>Login Page</h1>{% endblock %}

{% block content %}
<h2 class="loginh2"> please input your email address and password below to login! if you're not registered, please do so <a href="{% url 'register' %}">here</a></h2>
    <div class="loginfrm">
    <form method="POST">
    {% csrf_token %}    
    {{ login_form | as_bootstrap }}
    <button type="button submit" class="btn btn-outline-primary">Login</button>
    </form>
    <br>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    </div>
{% endblock %} {% block footer %} {% include 'includes/_footer.html' %} {% endblock %}
</main>