{% extends 'base.html' %} {% load bootstrap_tags %}
{% block title %}Create a bug{% endblock %}

{% block heading %} <h1>Create a bug</h1> {% endblock %}

{% block content %}
<section class="contatiner">
    <div class="jumbotron">
        <h1>Input the bug you're stuck on below!</h1>
        <p>This is the free service we offer on this community where other users can comment on your bug to assist with resolution. Please be as detailed as possible and include snippets from your code/traceback error also</p>
    </div>
<div class="row">
    <div class="col">
        <form method="POST" class="cr8bugfrm">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-primary" id="bgbtn">Submit</button>
        </form>
    </div>
</div>
</section>
{% endblock %} {% block footer %} {% include 'includes/_footer.html' %} {% endblock %}